html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    background-color: rgb(40, 42, 54);
}

a {
    text-decoration: none !important;
}

.div_cover_height {
    height: 100vh;
}

.div_cover_height_80 {
    height: 89vh;
    min-height: 650px;
}

.div_cover_height_20 {
    height: 11vh;
}

.logo {
    width: 14vh;
    margin-top: 2vh;
}

/* background colors */
.bg_dark {
    background-color: rgb(40, 42, 54);
}

.bg_selection {
    background-color: rgb(68, 71, 90);
}

.bg_foreground {
    background-color: rgb(248, 248, 242);
}

.bg_comment {
    background-color: rgb(98, 114, 164);
}

.bg_cyan {
    background-color: rgb(139, 233, 253);
}

.bg_green {
    background-color: rgb(80, 250, 123);
}

.bg_orange {
    background-color: rgb(255, 184, 108);
}

.bg_pink {
    background-color: rgb(255, 121, 198);
}

.bg_purple {
    background-color: rgb(189, 147, 198);
}

.bg_red {
    background-color: rgb(255, 85, 85);
}

.bg_yellow {
    background-color: rgb(241, 250, 140);
}

/* text colors */

.txt_dark {
    color: rgb(40, 42, 54);
}

.txt_selection {
    color: rgb(68, 71, 90);
}

.txt_foreground {
    color: rgb(248, 248, 242);
}

.txt_comment {
    color: rgb(98, 114, 164);
}

.txt_cyan {
    color: rgb(139, 233, 253);
}

.txt_green {
    color: rgb(80, 250, 123);
}

.txt_orange {
    color: rgb(255, 184, 108);
}

.txt_pink {
    color: rgb(255, 121, 198);
}

.txt_purple {
    color: rgb(189, 147, 198);
}

.txt_red {
    color: rgb(255, 85, 85);
}

.txt_yellow {
    color: rgb(241, 250, 140);
}



/* navbar */

.nav-link.active {
    color: rgb(189, 147, 198);
}

.nav-link {
    color: rgb(248, 248, 242);
}

.nav-link:hover {
    color: rgb(241, 250, 140);
}

.heart {
    -webkit-transform: scale(.9);
    transform: scale(.9);
    -webkit-animation: pulse .5s linear infinite alternate-reverse;
    animation: pulse .5s linear infinite alternate-reverse;
}

.social-network {
    font-size: 22px;
    padding: 4px;
}

.drac-tab:hover .drac-tab-link {
    color: var(--yellow);
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale(1)
    }
    to {
        -webkit-transform: scale(1.1)
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}


.border-purple{
    border-color: #9580FF;
    border-style: solid;
    border-width: 4px;
    border-radius: 25px;
}

.image-box{
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
}

.works-pictures{
    height: 200px; 
    object-fit: scale-down;
}

.content-text-box{
    height: 125px; 
    object-fit: scale-down;
}